@import 'tailwindcss';
@plugin './config/hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-tooltip: #d5e2ec;
}

html.dark {
  --color-tooltip: #2e323d;
}

body {
  font-family: 'Inter', sans-serif;
}

.w-color-chrome {
  > div:nth-child(3) {
    padding-bottom: 8px !important;
  }
}
